* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 1440px;
  margin: auto;
}
header .header_container .navbar {
  width: 1440px;
  height: 56px;
  background-color: black;
}
header .header_container .navbar nav {
  margin-left: 48px;
  display: flex;
  align-items: center;
}
header .header_container .navbar nav li {
  list-style: none;
  margin-top: 24px;
  margin-left: 40px;
  font-size: 20px;
}
header .header_container .navbar nav li a {
  text-decoration: none;
  color: white;
}
header .header_container .navbar .box {
  margin-top: 5px;
  margin-left: 74px;
  width: 210px;
  height: 5px;
  background-color: white;
  border: 0;
}
header .header_container .cou {
  padding-left: 20px;
  display: flex;
  width: 1340px;
  height: 65px;
  margin: auto;
}
header .header_container .cou .text1 {
  color: #0056D2;
  font-size: 40px;
  font-weight: 900;
}
header .header_container .cou select {
  margin-left: 25px;
  font-size: 17px;
  margin-top: 10px;
  color: #0056D2;
  width: 120px;
  height: 38px;
  border-radius: 4px;
  border-color: #0056D2;
}
header .header_container .cou .input {
  margin-left: 20px;
}
header .header_container .cou .input .fa-magnifying-glass {
  position: absolute;
  margin-top: 18px;
  font-size: 24px;
  margin-left: 430px;
}
header .header_container .cou .input input {
  margin-top: 8px;
  width: 465px;
  height: 45px;
  border-radius: 40px;
  font-size: 17px;
}
header .header_container .cou .na {
  display: flex;
}
header .header_container .cou .na nav {
  margin-top: 20px;
  display: flex;
}
header .header_container .cou .na nav li {
  list-style: none;
  margin-left: 20px;
  font-weight: 200;
}
header .header_container .cou .na nav li a {
  text-decoration: none;
  color: black;
}
header .header_container .cou .na .sec .fa-globe {
  margin-left: 20px;
}
header .header_container .cou .na .sec select {
  border: 0;
  color: rgb(96, 93, 93);
  width: 120px;
  height: 45px;
}
header .header_container .cou .na .fa-bell {
  font-size: 25px;
  margin-top: 17px;
  font-weight: 100;
}

main {
  width: 1440px;
  margin: auto;
}
main .main_container .text_1 {
  margin-top: 70px;
  margin-left: 120px;
  font-size: 15px;
  font-weight: 400;
}
main .main_container .text2 {
  margin-left: 120px;
  margin-top: 20px;
  font-weight: 100;
}
main .main_container .con {
  margin-top: 70px;
  margin-left: 120px;
}
main .main_container .con .ali .img1 {
  display: flex;
}
main .main_container .con .ali .img1 .qwe {
  width: 550px;
  height: 546px;
  background-color: #D6EDF6;
}
main .main_container .con .ali .img1 .qwe .q {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}
main .main_container .con .ali .img1 .qwe .q .rasm0 .img2 {
  margin-left: 70px;
  position: absolute;
}
main .main_container .con .ali .img1 .qwe .q .text3 {
  margin-top: 20px;
  margin-left: 25px;
  font-size: 23px;
}
main .main_container .con .ali .img1 .qwe .text_2 {
  font-size: 15px;
  margin-left: 150px;
}
main .main_container .con .ali .M {
  margin-top: 30px;
  display: flex;
}
main .main_container .con .ali .M .img5 {
  margin-left: 10px;
}
main .main_container .con .ali .M button {
  width: 182px;
  height: 48px;
  background-color: #0056D2;
  color: white;
  border: 0;
  font-size: 15px;
  border-radius: 5px;
}
main .main_container .text-1 {
  margin-top: 50px;
  margin-left: 120px;
}
main .main_container .text-1 h1 {
  font-size: 40px;
  color: rgb(99, 96, 96);
  font-weight: 300;
}
main .main_container .text-1 .h1 {
  font-size: 15px;
  margin-top: 15px;
  color: rgb(99, 96, 96);
  font-weight: 300;
}
main .main_container .text-1 .textt1 {
  margin-top: 40px;
  margin-left: 50px;
}
main .main_container .text-1 .textt1 h1 {
  padding-bottom: 10px;
  padding-top: 10px;
}
main .main_container .text-1 .textt1 .asd {
  padding-top: 10px;
  margin-left: 20px;
  font-size: 16px;
  color: rgb(99, 96, 96);
  font-weight: 300;
}

footer {
  width: 1440px;
  margin: auto;
  height: 500px;
}
footer .footer-container .bmw {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
}
footer .footer-container .bmw .ul {
  margin-left: 200px;
}
footer .footer-container .bmw .ul li {
  list-style: none;
}
footer .footer-container .bmw .ul li a {
  text-decoration: none;
}
footer .footer-container .bmw .ul .li a {
  color: black;
  font-size: 25px;
  font-weight: 500;
}
footer .footer-container .bmw .ul .img01 {
  margin-top: 20px;
  text-align: center;
}
footer .footer-container .bmw .ua {
  margin-left: 50px;
}
footer .footer-container .bmw .ua .li a {
  color: black;
  font-size: 25px;
  font-weight: 500;
}
footer .footer-container .bmw .ua li {
  list-style: none;
  color: rgb(0, 0, 0);
}
footer .footer-container .bmw .ua li a {
  text-decoration: none;
  color: rgb(74, 71, 71);
}
footer .footer-container .bmw .us {
  margin-left: 150px;
}
footer .footer-container .bmw .us .li a {
  color: black;
  font-size: 25px;
  font-weight: 500;
}
footer .footer-container .bmw .us li {
  list-style: none;
  color: rgb(0, 0, 0);
}
footer .footer-container .bmw .us li a {
  text-decoration: none;
  color: rgb(74, 71, 71);
}
footer .footer-container .bmw .ub {
  margin-left: 150px;
}
footer .footer-container .bmw .ub .li a {
  color: black;
  font-size: 25px;
  font-weight: 500;
}
footer .footer-container .bmw .ub li {
  list-style: none;
  color: rgb(0, 0, 0);
}
footer .footer-container .bmw .ub li a {
  text-decoration: none;
  color: rgb(74, 71, 71);
}/*# sourceMappingURL=style.css.map */